.list__prod_container {
    min-height: 30px;
    width: 100%;
    padding: .5rem;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    margin: 0 0 1rem 0;
}

td, th {
    vertical-align: middle;
    text-align: center;
}