@import url(header.css);

:root {
    --light-primaria: #DA0100;
    --light-fundo: #F4F6F8;
    --light-texto: #4A5A6A;
    --light-confianca: #205072;
    --light-conforto: #B4C99C;
    --light-background: #fff;

    --dark-primaria: #FF3B3B;
    --dark-fundo: #121212;
    --dark-texto: #D1D5DB;
    --dark-confianca: #4A90A2;
    --dark-conforto: #6B8F71;
    --dark-background: #070707;
}

body {
    position: relative;
    padding: 2rem;
    overflow-x: hidden;
}