main {
    padding: 2rem 4rem;
    margin: auto;
}

/* item container */

.item_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* num bonus container */

.form_pesquisa .line_filial-bonus {
    display: flex;
    flex-direction: column;
}

/* numbonus */

.form_pesquisa .line_filial-bonus .numbonus_container label{
    margin: 0;
    font-weight: 700;
}

.form_pesquisa .line_filial-bonus .numbonus_container input {
    width: 140px;
}

/* data filter */

.data_container .data-range_container label {
    font-weight: 700;
}