main {
    padding: 2rem 4rem;
    margin: auto;
}

.sec_intro {
    text-align: center;
    padding: 0 0 4rem 0;
}

/* item container */

.item_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* num bonus container */

.form_pesquisa .line_filial-bonus {
    display: flex;
    flex-direction: column;
}

/* numbonus */

.form_pesquisa .line_filial-bonus .numbonus_container label{
    margin: 0;
    font-weight: 700;
}

.form_pesquisa .line_filial-bonus .numbonus_container input {
    width: 140px;
}

/* data filter */

.data_container .data-range_container label {
    font-weight: 700;
}
/* filtros */

.filtros_container label {
    margin: 0;
    font-weight: 700;
}

/* departamento */

.departamento_container .input_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.departamento_container .input_container .retorno-departamento_container {
    padding: 6px 12px;
    min-width: 200px;
    max-width: 200px;
    background: #ccc;
    border-radius: 5px;
}

.departamento_container .input_container .retorno-departamento_container p {
    margin: 0;
}

/* produto */

.produto_container .input_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.produto_container .input_container .retorno-produto_container {
    padding: 6px 12px;
    min-width: 400px;
    max-width: 400px;
    background: #ccc;
    border-radius: 5px;
}

.produto_container .input_container .retorno-produto_container p {
    margin: 0;
}

.filtros_container input {
    width: 140px;
}

#limpar {
    display: none;
}

#exportar {
    display: none;
}